
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-bottom">
    <a class="navbar-brand" href="#">FOOTER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-sm">100% wide until small breakpoint</div>
    <div class="fixed-bottom" id="fixed-bottom">
      <ul class="navbar-nav mr-auto">
     
  
      </ul>
    </div>
  </nav>
  